ul{
    display: grid;
    grid-template-columns: repeat(15, 5vw [col-start]);
    list-style: none;
    li{
        border: .5px solid black;
        color: white;
        font-size: 10;
    }
}
//background-color:rgb(89, 70, 143);